<div *ngIf="showLogin" class="loginModal">
  <div class="loginModal-box">
    <div class="loginModal-body">
      <h3>Log In</h3>
      <form [formGroup]="loginForm">
        <div class="modalForm-control">
          <label for="email">Email</label>
          <input type="email" formControlName="email" />
          <span *ngIf="loginForm.get('email')?.errors?.['required']"
            >email field cannot be empty</span
          >
          <span *ngIf="loginForm.get('email')?.errors?.['emailValidator']"
            >email must be greater than 8 and less than 40 characters</span
          >
          <span *ngIf="loginForm.get('email')?.errors?.['pattern']"
            >! input must be email type</span
          >
        </div>
        <div class="modalForm-control">
          <label for="password">Password</label>
          <input type="password" formControlName="password" />
          <span *ngIf="loginForm.get('password')?.errors?.['required']"
            >password field cannot be empty!</span
          >
          <span
            *ngIf="loginForm.get('password')?.errors?.['passwordValidator']"
          >
            Password must contain upper and lowercase, number, and special
            characters: length should be between 4 and 12</span
          >
        </div>
        <p><a href="#">Forgot your email or password?</a></p>
        <button (click)="login()" class="btn btn-dark">Log In</button>
      </form>
    </div>
    <div class="loginModal-footer">
      <p>Don't have an account? <a href="#">Start your free trial</a></p>
    </div>
    <img
      (click)="toggleCloseLogin()"
      class="close"
      src="../../../assets/close.svg"
      alt="close"
    />
  </div>
</div>
