<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4"
>
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
    <h3 class="fw-bold hula">hula</h3>
  </a>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/" class="nav-link px-2 link-light">Home</a></li>
    <li>
      <a routerLink="/movies" class="nav-link px-2 link-light">Movies</a>
    </li>
    <li>
      <a routerLink="/series" class="nav-link px-2 link-light">Series</a>
    </li>
  </ul>
  <div class="col-md-3 text-end">
    <a
      *ngIf="!(user$ | async).isLoggedIn"
      (click)="toggleShowLogin()"
      class="nav-link px-2 link-light"
      >LOG IN</a
    >
    <a
      *ngIf="(user$ | async).isLoggedIn"
      (click)="logOut()"
      class="nav-link px-2 link-light"
      >LOG OUT</a
    >
  </div>
</header>
