<div class="d-flex mt-4 align-items-center">
  <h5>{{ title }}</h5>
  <a href="" class="ms-auto nav-link px-2 link-secondary">View All</a>>
</div>
<div
  class="row row-cols-2 row-cols-lg-6 g-2 g-lg-5 mb-4 justify-content-center"
>
  <a
    *ngFor="let content of contents"
    class="col text-center category__link"
    [routerLink]="['/content', content.title]"
  >
    <div class="category__img shadow">
      <img src="{{ content.url }}" loading="lazy" />
    </div>
    <div class="pt-1 text-muted">{{ content.region.name }}</div>
    <div>{{ content.title }}</div>
  </a>
</div>
